.featured-card {
  @extend %flex-column;
  align-items: center;
  min-width: 14rem;
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--primary-font-color);

  &__image-wrapper {
    width: 6rem;
    margin-bottom: -28%;
    z-index: 1;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  &__content {
    @extend %flex-column;
    background: linear-gradient(
      116.15deg,
      rgba(192, 192, 192, 0.63) -10.88%,
      rgba(255, 255, 255, 0.49) -10.87%,
      rgba(255, 255, 255, 0.07) 74.79%
    );
    border: 1px solid var(--color-white);
    border-radius: 25px;
    width: 100%;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-top: 28%;
    justify-content: flex-start;
    @include hoverSolidBorder;
  }
  &__title {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  &__price-wrapper {
    @extend %align-center;
    gap: 0.8rem;
  }
  &__price {
    font-size: 1rem;
    line-height: 1.4rem;
    color: var(--price-text-color);

    &--cross-out {
      font-size: 0.8rem;
      line-height: 1.2rem;
      color: var(--primary-font-color);
      text-decoration: line-through;
    }
  }
}
.main-card-template {
  @extend %flex-column;
  border-radius: 50px;
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--global-font-color);
  overflow: hidden;

  &__image-wrapper {
    @extend %align-center;
    justify-content: center;
    height: 50%;
    width: 100%;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__content {
    @extend %flex-column;
    padding: 1rem;
    gap: 1rem;
  }
  &__title {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  &__features {
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding-left: 2rem;
  }
  &__price {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--price-text-color);
  }
  &__buttons-wrapper {
    @extend %align-center;
    justify-content: space-between;
    gap: 1.5rem;
  }
}
.popular-trends-card {
  @extend .main-card-template;
  border: 1px solid var(--color-white);
  min-width: 22rem;
  background: linear-gradient(
    163.76deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.1) 100.82%
  );
  @include hoverSolidBorder;

  &__title {
    @extend .main-card-template__title;
    font-size: 1.1rem;
  }
  &__price {
    @extend .main-card-template__price;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  &__image-wrapper {
    @extend .main-card-template__image-wrapper;
  }

  &__image {
    @extend .main-card-template__image;
  }

  &__content {
    @extend .main-card-template__content;
  }

  &__features {
    @extend .main-card-template__features;
  }

  &__buttons-wrapper {
    @extend .main-card-template__buttons-wrapper;
  }
}

.new-arrivals-card {
  @extend .main-card-template;
  min-width: 22rem;
  background: var(--background-color-purple);
  border: 4px solid var(--background-color-blue);
  @include hoverSolidBorder($size: 4px);
  &__title {
    @extend .main-card-template__title;
    font-size: 1.2rem;
  }
  &__price {
    @extend .main-card-template__price;
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  &__image-wrapper {
    @extend .main-card-template__image-wrapper;
  }

  &__image {
    @extend .main-card-template__image;
  }

  &__content {
    @extend .main-card-template__content;
  }

  &__features {
    @extend .main-card-template__features;
  }

  &__buttons-wrapper {
    @extend .main-card-template__buttons-wrapper;
  }
}
