*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--body-background-color);
  overflow-x: hidden;
}

ul,
li {
  list-style-type: none;
}
