//extend and inheritance
%align-center {
  display: flex;
  align-items: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

//variables
//these are the set of variables that are same across both the themes (light and dark)
$primary-font: proximaNova;
$price-text-color: #fc9918;
$menu-active-link-color: #fc9918;
$button-background-color: #f14a16;
$button-text-color: #e5e5e5;
$featured-card-color: #b9b9b9;
$color-white: #ffffff;
$color-orange: #f14a16;
$global-font-color: #ffffff;

:root {
  --primary-font: #{$primary-font};

  --price-text-color: #{$price-text-color};
  --menu-active-link-color: #{$menu-active-link-color};
  --button-background-color: #{$button-background-color};
  --button-text-color: #{$button-text-color};
  --featured-card-color: #{$featured-card-color};
  --color-white: #{$color-white};
  --color-orange: #{$color-orange};
  --global-font-color: #{$global-font-color};

  //different from dark theme
  --primary-font-color: #000000;
  --secondary-font-color: #282828;
  --alternate-font-color: #000000;
  --highlighted-font-color: #f14a16;
  --product-price-color: #fc9918;

  --toggle-background-color: #ffffff;
  --toggle-circle-background-color: #888888;
  --toggle-background-shadow-color: #b9b9b9;

  --background-color-blue: #35589a;
  --background-color-purple: #370665;
  --background-color-grey: #c4c4c4;

  --discount-div-shadow: #00000040;
  --lg-gradient-color: #fafafa;

  --hero-model-box-shadow: #fafafa;

  --body-background-color: #fafafa;
}

.dark-mode {
  --primary-font: #{$primary-font};

  --price-text-color: #{$price-text-color};
  --menu-active-link-color: #{$menu-active-link-color};
  --button-background-color: #{$button-background-color};
  --button-text-color: #{$button-text-color};
  --featured-card-color: #{$featured-card-color};
  --color-white: #{$color-white};
  --color-orange: #{$color-orange};
  --global-font-color: #{$global-font-color};

  //different from light theme
  --primary-font-color: #ffffff;
  --secondary-font-color: #a4a4a4;
  --alternate-font-color: #000000;
  --highlighted-font-color: #f14a16;
  --product-price-color: #fc9918;

  --toggle-background-color: #000000;
  --toggle-circle-background-color: #888888;
  --toggle-background-shadow-color: #000000;

  --background-color-blue: #35589a;
  --background-color-purple: #370665;
  --background-color-grey: #c4c4c4;

  --discount-div-shadow: #00000040;
  --lg-gradient-color: #070606;

  --hero-model-box-shadow: #070606;

  --body-background-color: #070606;
}
