$proxima_font: "Proxima Nova Regular", sans-serif;

$price_text_color: #FC9918;
$underline_color: #FC9918;
$button_color: #F14A16;
$button_text_color: #E5E5E5;
$featured-card-color: #B9B9B9;
$toggle-circle-background-color: #888888;



$color_white: #FFFFFF;
$text_color_orange: #F14A16;


$text_color: #FFFFFF;
$text_color_secondary: #A4A4A4;
$background-color-blue: #35589A;
$background-color-purple: #370665;
$background-color-grey:#C4C4C4;
$toggle-background-color: #000000;
$body-background-color: #070606;
$discount-div-shadow: #00000040;
$lg-gradient-color: #070606;
$hero-model-box-shadow: #070606;






// $text_color: #000000;
// $text_color_secondary: #A4A4A4;
// $background-color-blue: #35589A;
// $background-color-purple: #370665;
// $background-color-grey:#C4C4C4;
// $toggle-background-color: #B9B9B9;
// $body-background-color: #FAFAFA;
// $discount-div-shadow: #FAFAFA;
// $lg-gradient-color: #FAFAFA;
// $hero-model-box-shadow: #FAFAFA;





