.footer-section {
  @extend %flex-column;
  align-items: center;
  justify-content: center;
  padding: 4rem 8% 1rem 8%;
  background: var(--background-color-purple);
  font-family: var(--primary-font);
  color: var(--global-font-color);
  gap: 2rem;

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 7rem;
    flex-wrap: wrap;
    @include phone {
      flex-direction: column;
      gap: 2rem;
    }
   
  }

  &__left-container {
    @extend %flex-column;
    gap: 8rem;
  }
  &__right-container {
    @extend %flex-column;
    gap: 2rem;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2.5rem;
    }
  }
  &__left-top-container {
    display: flex;
    align-items: flex-start;
    gap: 8rem;
    flex-wrap: wrap;

    @include phone {
      flex-direction: column;
      gap: 2rem;
    }
    @include tablet {
      gap: 5rem;
    }
  }
  &__logo-wrapper {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;

    &--phone {
      display: none;

      @include phone {
        display: flex;
        max-width: 8rem;
        max-height: 8rem;
        margin: 0 auto;
      }
      
    }

    &--desktop {
      display: flex;

      @include phone {
        display: none;
      }
    }
  }
  &__logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  &__left-top-middle-container {
    @extend %flex-column;
    gap: 4rem;
  }
  &__title {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
  }
  &__text {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  &__link {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: var(--global-font-color);
    text-decoration: none;
    cursor: pointer;
    @include hoverTextDecoration;
  }
  &__shop {
    @extend %flex-column;
    gap: 0.8rem;
  }
  &__country {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    @include phone {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
  &__support {
    @extend %flex-column;
    gap: 0.8rem;
  }
  &__about-us {
    @extend %flex-column;
    gap: 0.8rem;
  }
  &__contact-us {
    @extend %flex-column;
    gap: 0.8rem;
  }
  &__manufacturer {
    @extend %flex-column;
    gap: 0.8rem;
  }
  &__social-links {
    @extend %flex-column;
    gap: 0.8rem;
    @include tablet {
      margin: 0 auto;
      align-items: center;
    }
  }
  &__subscribe-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
  }

  &__left-bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;

    &--desktop {
      display: flex;

      @include phone {
        display: none;
      }
      @include tablet {
        display: none;
      }
    }
  }
  &__extra-content-adjustment {
    display: none;
    flex-direction: column;
    gap: 2rem;

    @include phone {
      display: flex;
    }
    @include tablet {
      display: flex;
      margin: 0 auto;
    }
  }

  &__mail-input {
    height: 2rem;
    width: 18rem;
    padding: 0.4rem 1rem;
    border: 2px solid var(--color-orange);
    border-radius: 20px;
    color: var(--global-font-color);
    font-size: 1rem;
    background: transparent;
    outline: none;
  }

  &__social-icons-container {
    @extend %align-center;
    gap: 0.8rem;
  }
  &__social-icon-wrapper {
    @extend %align-center;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.2rem;
    border-radius: 50%;
    background: var(--color-white);
    overflow: hidden;
    @include hoverScale;
  }
  &__social-icon {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  &__copyright-text {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
  }
}
