@import 'variables';

%align-center{
    display: flex;
    align-items: center;
   
  }

%flex-column{
    display: flex;
    flex-direction: column;
   
  }

.featured-card{
    @extend %flex-column;
    align-items: center;
    width: 14rem;
    background: linear-gradient(116.15deg, rgba(192, 192, 192, 0.63) -10.88%, rgba(255, 255, 255, 0.49) -10.87%, rgba(255, 255, 255, 0.07) 74.79%);
    font-family: $proxima_font;
    font-weight: 400;
    color: $text_color_white;
    border: 1px solid #FFFFFFB2;
    border-radius: 25px;

&__image-wrapper{
width: 6rem;
margin-top: -28%;
    }

&__image{
max-width: 100%;
max-height: 100%;
object-fit: cover;
}
&__content{
    @extend %flex-column;
    width: 100%;
    padding: 0 0 0.5rem 1rem;
    justify-content: flex-start;
}
&__title{
font-size: 1.1rem;
line-height: 1.4rem;
}

&__price-wrapper{
    @extend %align-center;
    gap: 0.8rem;
}
&__price{
    font-size: 1rem;
    line-height: 1.4rem;
    color: $price_text_color;

    &--cross-out{
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: $text_color_white;
    text-decoration: line-through;
    }
}

}
.popular-trends-card{
@extend %flex-column;
border-radius: 50px;
border: 1px solid $color_white;
background: linear-gradient(163.76deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 100.82%);
font-family: $proxima_font;
font-weight: 400;
color: $text_color_white;
max-width: 30%;

&__image-wrapper{
    height: 50%;
    width: 100%;
    overflow: hidden;
}

&__image{
    max-width: 100%;
    max-height: 100%;
}

&__content{
    @extend %flex-column;
    padding: 1rem;
    gap: 1rem;
}
&__title{
    font-size: 1.1rem;
    line-height: 1.5rem;

}
&__features{
font-size: 0.8rem;
line-height: 1.5rem;
padding-left: 2rem;
}
&__price{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: $price_text_color;
    }
    &__buttons-wrapper{
        @extend %align-center;
        justify-content: center;
        gap: 1rem;
    }
}