@import "./modules/variables";
@import "./modules/media-queries";

.other-accessories {
  @extend %flex-column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4rem;
  padding: 4rem;
  &__title {
    font-family:  var(--primary-font);
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    color: var(--primary-font-color);
  }
  &__container {
    @extend %align-center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  &__image-wrapper {
    @extend %align-center;
    justify-content: center;
    flex: 1 0 48%;
    min-width: 20rem;
    border-radius: 25px;
    background: transparent;
    overflow: hidden;
    &:hover{
      scale: 1.05;
      transition: scale 0.5s;
    }
    @include phone {
      border: 2px solid var(--color-white);
    }
  }
  &__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}
