$proxima_font: "Proxima Nova Condensed", sans-serif;
$underline_color: #FC9918;
$button_color: #F14A16;
$button_text_color: #E5E5E5;
$color_white: #FFFFFF;
$text_color_white: #FFFFFF;
$text_color_orange: #F14A16;
$text_color_grey: #A4A4A4;
$price_text_color: #FC9918;
$background-color-blue: #35589A;
$background-color-purple: #370665;
$background-color-grey:#C4C4C4;






