.footer-section__social-icon-wrapper, .footer-section__social-icons-container, .scan-qr__app-download-image-wrapper, .scan-qr__app-download-container, .scan-qr__image-wrapper, .scan-qr__left-container, .scan-qr__container, .scan-qr, .other-accessories__image-wrapper, .other-accessories__container, .exclusive-offer__buttons-wrapper, .exclusive-offer__time-container, .exclusive-offer__time-wrapper, .exclusive-offer__discount-div, .exclusive-offer__image-wrapper, .exclusive-offer__left-container, .exclusive-offer__container, .why-buy-musify__reason, .why-buy-musify__reason-wrapper, .why-buy-musify, .popular-trends__card-wrapper, .new-arrivals__card-wrapper, .featured-card-wrapper, .hero__circular-div, .hero__scroll-down-wrapper, .hero__bottom-container, .hero__buttons, .navbar__toggle, .navbar__right, .navbar, .main-card-template__buttons-wrapper, .new-arrivals-card__buttons-wrapper, .popular-trends-card__buttons-wrapper, .main-card-template__image-wrapper, .new-arrivals-card__image-wrapper, .popular-trends-card__image-wrapper, .featured-card__price-wrapper {
  display: flex;
  align-items: center;
}

.footer-section__social-links, .footer-section__manufacturer, .footer-section__contact-us, .footer-section__about-us, .footer-section__support, .footer-section__shop, .footer-section__left-top-middle-container, .footer-section__right-container, .footer-section__left-container, .footer-section, .scan-qr__right-container, .other-accessories, .exclusive-offer__time, .exclusive-offer__content, .exclusive-offer__right-container, .exclusive-offer, .why-buy-musify__container, .popular-trends__container, .new-arrivals__container, .hero__top-container, .hero, .main-card-template__content, .new-arrivals-card__content, .popular-trends-card__content, .main-card-template, .new-arrivals-card, .popular-trends-card, .featured-card__content, .featured-card {
  display: flex;
  flex-direction: column;
}

:root {
  --primary-font: proximaNova;
  --price-text-color: #fc9918;
  --menu-active-link-color: #fc9918;
  --button-background-color: #f14a16;
  --button-text-color: #e5e5e5;
  --featured-card-color: #b9b9b9;
  --color-white: #ffffff;
  --color-orange: #f14a16;
  --global-font-color: #ffffff;
  --primary-font-color: #000000;
  --secondary-font-color: #282828;
  --alternate-font-color: #000000;
  --highlighted-font-color: #f14a16;
  --product-price-color: #fc9918;
  --toggle-background-color: #ffffff;
  --toggle-circle-background-color: #888888;
  --toggle-background-shadow-color: #b9b9b9;
  --background-color-blue: #35589a;
  --background-color-purple: #370665;
  --background-color-grey: #c4c4c4;
  --discount-div-shadow: #00000040;
  --lg-gradient-color: #fafafa;
  --hero-model-box-shadow: #fafafa;
  --body-background-color: #fafafa;
}

.dark-mode {
  --primary-font: proximaNova;
  --price-text-color: #fc9918;
  --menu-active-link-color: #fc9918;
  --button-background-color: #f14a16;
  --button-text-color: #e5e5e5;
  --featured-card-color: #b9b9b9;
  --color-white: #ffffff;
  --color-orange: #f14a16;
  --global-font-color: #ffffff;
  --primary-font-color: #ffffff;
  --secondary-font-color: #a4a4a4;
  --alternate-font-color: #000000;
  --highlighted-font-color: #f14a16;
  --product-price-color: #fc9918;
  --toggle-background-color: #000000;
  --toggle-circle-background-color: #888888;
  --toggle-background-shadow-color: #000000;
  --background-color-blue: #35589a;
  --background-color-purple: #370665;
  --background-color-grey: #c4c4c4;
  --discount-div-shadow: #00000040;
  --lg-gradient-color: #070606;
  --hero-model-box-shadow: #070606;
  --body-background-color: #070606;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--body-background-color);
}

ul,
li {
  list-style-type: none;
}

@font-face {
  font-family: proximaNova;
  src: url(../fonts/Mark_Simonson_Proxima_Nova_Regular.otf);
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--background-color-purple);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--background-color-purple);
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-orange);
}

@keyframes changeScale {
  from {
    scale: 1;
  }
  to {
    scale: 0.8;
  }
}
.button {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 10rem;
  max-height: 10rem;
  justify-content: center;
  border: 1px solid var(--button-background-color);
  border-radius: 20px;
  color: var(--button-background-color);
  justify-content: center;
  transition-duration: 0.5s;
  font-size: 1rem;
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 1.2rem;
  gap: 0.8rem;
  cursor: pointer;
  white-space: nowrap;
}
.button__icon {
  width: 1rem;
  height: 1rem;
}
.button--login {
  padding: 0.5rem 1.8rem;
  border-radius: 15px;
}
.button--login:hover {
  box-shadow: 0px 0px 42px 0px var(--button-background-color);
}
@media screen and (max-width: 1000px) {
  .button--login {
    display: none;
  }
}
.button--cta {
  width: 10rem;
  padding: 0.8rem 0.8rem;
  background: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  box-shadow: 0px 0px 21px 0px var(--button-background-color);
}
.button--cta:hover {
  box-shadow: 0px 0px 42px 0px var(--button-background-color);
}
.button--secondary {
  width: 10rem;
  padding: 0.8rem 0.8rem;
  border: 2px solid var(--button-background-color);
  background: transparent;
  box-shadow: 0px 0px 18px 0px var(--button-background-color);
}
.button--secondary:hover {
  box-shadow: 0px 0px 42px 0px var(--button-background-color);
}
.button--atc {
  flex: 1;
  padding: 0.8rem 0.8rem;
  border: 2px solid var(--button-background-color);
  background: transparent;
  box-shadow: 0px 0px 18px 0px var(--button-background-color);
}
.button--atc:hover {
  box-shadow: 0px 0px 42px 0px var(--button-background-color);
}
.button--bn {
  flex: 1;
  padding: 0.8rem 0.8rem;
  background: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  box-shadow: 0px 0px 21px 0px var(--button-background-color);
}
.button--bn:hover {
  box-shadow: 0px 0px 42px 0px var(--button-background-color);
}
.button--subscribe-btn {
  padding: 0.8rem 1.6rem;
  background: var(--button-background-color);
  color: var(--global-font-color);
  border: none;
}
.button--subscribe-btn:hover {
  box-shadow: 0px 0px 42px 0px var(--button-background-color);
}
@media screen and (max-width: 1000px) {
  .button--subscribe-btn {
    margin: 0 auto;
  }
}

.featured-card {
  align-items: center;
  min-width: 14rem;
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--primary-font-color);
}
.featured-card__image-wrapper {
  width: 6rem;
  margin-bottom: -28%;
  z-index: 1;
}
.featured-card__image {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-card__content {
  background: linear-gradient(116.15deg, rgba(192, 192, 192, 0.63) -10.88%, rgba(255, 255, 255, 0.49) -10.87%, rgba(255, 255, 255, 0.07) 74.79%);
  border: 1px solid var(--color-white);
  border-radius: 25px;
  width: 100%;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-top: 28%;
  justify-content: flex-start;
}
.featured-card__content:hover {
  border: 1px solid var(--color-orange);
}
.featured-card__title {
  font-size: 1.1rem;
  line-height: 1.4rem;
}
.featured-card__price-wrapper {
  gap: 0.8rem;
}
.featured-card__price {
  font-size: 1rem;
  line-height: 1.4rem;
  color: var(--price-text-color);
}
.featured-card__price--cross-out {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: var(--primary-font-color);
  text-decoration: line-through;
}

.main-card-template, .new-arrivals-card, .popular-trends-card {
  border-radius: 50px;
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--global-font-color);
  overflow: hidden;
}
.main-card-template__image-wrapper, .new-arrivals-card__image-wrapper, .popular-trends-card__image-wrapper {
  justify-content: center;
  height: 50%;
  width: 100%;
  overflow: hidden;
}
.main-card-template__image, .new-arrivals-card__image, .popular-trends-card__image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-card-template__content, .new-arrivals-card__content, .popular-trends-card__content {
  padding: 1rem;
  gap: 1rem;
}
.main-card-template__title, .new-arrivals-card__title, .popular-trends-card__title {
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.main-card-template__features, .new-arrivals-card__features, .popular-trends-card__features {
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding-left: 2rem;
}
.main-card-template__price, .new-arrivals-card__price, .popular-trends-card__price {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--price-text-color);
}
.main-card-template__buttons-wrapper, .new-arrivals-card__buttons-wrapper, .popular-trends-card__buttons-wrapper {
  justify-content: space-between;
  gap: 1.5rem;
}

.popular-trends-card {
  border: 1px solid var(--color-white);
  min-width: 22rem;
  background: linear-gradient(163.76deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 100.82%);
}
.popular-trends-card:hover {
  border: 1px solid var(--color-orange);
}
.popular-trends-card__title {
  font-size: 1.1rem;
}
.popular-trends-card__price {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.new-arrivals-card {
  min-width: 22rem;
  background: var(--background-color-purple);
  border: 4px solid var(--background-color-blue);
}
.new-arrivals-card:hover {
  border: 4px solid var(--color-orange);
}
.new-arrivals-card__title {
  font-size: 1.2rem;
}
.new-arrivals-card__price {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
.search-input {
  display: none;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .search-input {
    display: flex;
  }
}
.search-input__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  position: relative;
}
.search-input__icon-wrapper {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 15%;
  left: 8px;
}
.search-input__icon {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.search-input__input-field {
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 3rem;
  border-radius: 30px;
  box-shadow: 4px 6px 8px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
  background-color: var(--color-white);
  color: var(--alternate-font-color);
  font-size: 1rem;
}

.navbar {
  justify-content: space-between;
  z-index: 10;
  flex: 1 0 auto;
  gap: 3rem;
  padding: 1rem 5rem 4rem 5rem;
}
@media screen and (max-width: 1000px) {
  .navbar {
    padding: 2rem;
  }
}
.navbar__brand {
  display: flex;
  flex: 1 0 auto;
  min-width: 4rem;
  min-height: 4rem;
  height: 5rem;
  width: 5rem;
}
@media screen and (max-width: 1000px) {
  .navbar__brand {
    justify-content: center;
  }
}
.navbar__logo {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  gap: 2rem;
  white-space: nowrap;
}
@media screen and (max-width: 1000px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__link {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--primary-font-color);
  text-decoration: none;
}
.navbar__link:hover {
  scale: 1.2;
  transition: scale 0.5s;
}
.navbar__link--active {
  border-bottom: 2px solid var(--menu-active-link-color);
}
.navbar__right {
  justify-content: space-between;
  flex: 1;
  gap: 2rem;
}
.navbar__checkbox-wrapper {
  display: flex;
}
.navbar__toggle {
  width: 4rem;
  height: 2rem;
  justify-content: space-around;
  position: relative;
  border-radius: 30px;
  background: var(--toggle-background-color);
  box-shadow: 0px 0px 4px 0px var(--toggle-background-shadow-color);
  cursor: pointer;
  transition: 0.3s;
}
.navbar__toggle::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 4px;
  left: 6px;
  background: var(--toggle-circle-background-color);
  border-radius: 50%;
  transition: 0.3s;
}
.navbar__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}
.navbar__checkbox:checked + .navbar__toggle::after {
  left: 58px;
  transform: translateX(-100%);
}
.navbar__theme-icon {
  margin: 4px 6px;
  max-width: 19px;
  max-height: 19px;
  cursor: pointer;
}
.navbar__hamburger-icon-wrapper {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .navbar__hamburger-icon-wrapper {
    display: block;
    width: 1.5rem;
    height: 1rem;
    flex: 1 0 auto;
    cursor: pointer;
  }
}
.navbar__icons-set-wrapper {
  display: flex;
  gap: 2rem;
}
.navbar__icon-wrapper {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.navbar__icon-wrapper:hover {
  scale: 1.2;
  transition: scale 0.5s;
}
.navbar__icon {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (max-width: 1000px) {
  .navbar__icon--search {
    display: none;
  }
}

.landing-page {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
}

.gradient-effect {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}
.gradient-effect__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-model {
  height: 94%;
  position: absolute;
  bottom: 4%;
  right: 0;
  z-index: -2;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 92.26%, rgba(0, 0, 0, 0.2) 105.89%);
  box-shadow: 0 0 8px 8px var(--hero-model-box-shadow) inset;
}
@media screen and (max-width: 1000px) {
  .hero-model {
    display: none;
  }
}
.hero-model__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-model--lg-rectangle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 16%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--lg-gradient-color) 100%);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 4rem;
}
.hero__top-container {
  width: 46%;
  margin-bottom: 4rem;
}
@media screen and (max-width: 1000px) {
  .hero__top-container {
    width: 100%;
  }
}
.hero__title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  color: var(--primary-font-color);
}
.hero__title--highlight {
  color: var(--highlighted-font-color);
}
.hero__description {
  font-family: var(--primary-font);
  font-weight: 250;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--secondary-font-color);
  margin: 1rem 0 2rem 0;
}
.hero__buttons {
  gap: 1.8rem;
}
.hero__bottom-container {
  justify-content: space-between;
  gap: 4rem;
}
@media screen and (max-width: 1000px) {
  .hero__bottom-container {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
  }
}
.hero__scroll-down-wrapper {
  justify-content: center;
  margin-top: 4rem;
  flex: 1;
}
@media screen and (max-width: 1000px) {
  .hero__scroll-down-wrapper {
    width: 100%;
  }
}
.hero__circular-div {
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid var(--primary-font-color);
  cursor: pointer;
}
.hero__circular-div:hover {
  scale: 1.2;
  transition: scale 0.5s;
}
.hero__arrow-icon {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.featured-card-wrapper {
  max-width: 100%;
  padding: 0 1rem;
  gap: 2rem;
  overflow-x: auto;
}

.popular-trends, .new-arrivals {
  padding: 4rem;
}
.popular-trends__container, .new-arrivals__container {
  gap: 4rem;
}
.popular-trends__title, .new-arrivals__title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.2rem;
  color: var(--primary-font-color);
  text-align: center;
}
.popular-trends__card-wrapper, .new-arrivals__card-wrapper {
  gap: 3rem;
  padding: 1rem 0;
  overflow-x: auto;
}

.why-buy-musify {
  padding: 4rem;
}
.why-buy-musify__container {
  align-items: center;
  width: 100%;
  padding: 1rem 2rem 2rem 2rem;
  gap: 2rem;
  background: linear-gradient(91.42deg, var(--background-color-purple) 0%, var(--background-color-blue) 100%);
  border-radius: 25px;
  font-family: var(--primary-font);
  color: var(--global-font-color);
}
.why-buy-musify__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
}
.why-buy-musify__reason-wrapper {
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
}
@media screen and (max-width: 1000px) {
  .why-buy-musify__reason-wrapper {
    flex-wrap: wrap;
    gap: 2rem;
  }
}
.why-buy-musify__reason {
  gap: 0.8rem;
}
.why-buy-musify__icon {
  width: 2rem;
  height: 2rem;
}
.why-buy-musify__reason-text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}

.exclusive-offer {
  font-family: var(--primary-font);
  color: var(--global-font-color);
  gap: 4rem;
  padding: 4rem 6rem;
}
.exclusive-offer__title {
  display: none;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.2rem;
  text-align: center;
  color: var(--primary-font-color);
}
.exclusive-offer__title--desktop {
  display: block;
}
@media screen and (max-width: 1000px) {
  .exclusive-offer__title--desktop {
    display: none;
  }
}
.exclusive-offer__title--phone {
  display: none;
}
@media screen and (max-width: 1000px) {
  .exclusive-offer__title--phone {
    display: block;
  }
}
.exclusive-offer__container {
  justify-content: space-around;
}
@media screen and (max-width: 1000px) {
  .exclusive-offer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
.exclusive-offer__left-container {
  justify-content: center;
  padding: 10%;
  flex: 1;
}
.exclusive-offer__image-wrapper {
  justify-content: center;
  border-radius: 50%;
  min-width: 10rem;
  min-width: 10rem;
  position: relative;
  animation-duration: 1.2s;
  animation-name: changeScale;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.exclusive-offer__image {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.exclusive-offer__discount-div {
  justify-content: center;
  position: absolute;
  top: 4%;
  left: 4%;
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  border-radius: 50%;
  background: var(--background-color-purple);
  box-shadow: 8px 10px 17px 0px var(--discount-div-shadow);
}
@media screen and (max-width: 1000px) {
  .exclusive-offer__discount-div {
    top: -10%;
    left: -10%;
  }
}
.exclusive-offer__discount-text {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  text-align: center;
}
.exclusive-offer__right-container {
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
}
.exclusive-offer__content {
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: var(--primary-font-color);
  font-size: 1.5rem;
  line-height: 2rem;
  gap: 0.5rem;
}
.exclusive-offer__time-wrapper {
  gap: 1rem;
}
.exclusive-offer__time {
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.exclusive-offer__time-container {
  justify-content: center;
  text-align: center;
  height: 3rem;
  width: 3rem;
  padding: 0.5rem 0.8rem;
  border-radius: 20px;
  background: var(--background-color-purple);
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  color: var(--global-font-color);
}
.exclusive-offer__buttons-wrapper {
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.other-accessories {
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4rem;
  padding: 4rem;
}
.other-accessories__title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  color: var(--primary-font-color);
}
.other-accessories__container {
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.other-accessories__image-wrapper {
  justify-content: center;
  flex: 1 0 48%;
  min-width: 20rem;
  border-radius: 25px;
  background: transparent;
  overflow: hidden;
}
.other-accessories__image-wrapper:hover {
  scale: 1.05;
  transition: scale 0.5s;
}
@media screen and (max-width: 1000px) {
  .other-accessories__image-wrapper {
    border: 2px solid var(--color-white);
  }
}
.other-accessories__image {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.scan-qr {
  padding: 4rem;
}
.scan-qr__container {
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  gap: 4rem;
  border-radius: 25px;
  background: linear-gradient(91.42deg, var(--background-color-purple) 0%, var(--background-color-blue) 100%);
  padding: 3rem 4rem;
}
.scan-qr__left-container {
  justify-content: center;
}
.scan-qr__image-wrapper {
  justify-content: center;
}
.scan-qr__image {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.scan-qr__right-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  font-family: var(--primary-font);
  color: var(--global-font-color);
}
.scan-qr__title {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.6rem;
}
.scan-qr__description {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}
.scan-qr__app-download-container {
  justify-content: center;
  gap: 0.8rem;
  flex-wrap: wrap;
}
.scan-qr__app-download-image-wrapper {
  justify-content: center;
  width: 10rem;
}
.scan-qr__app-download-image {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-section {
  align-items: center;
  justify-content: center;
  padding: 4rem 4rem 1rem 4rem;
  background: var(--background-color-purple);
  font-family: var(--primary-font);
  color: var(--global-font-color);
  gap: 2rem;
}
.footer-section__container {
  display: flex;
  align-items: flex-start;
  gap: 8rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 1000px) {
  .footer-section__container {
    flex-direction: column;
    gap: 2rem;
  }
}
.footer-section__left-container {
  gap: 8rem;
}
.footer-section__right-container {
  gap: 2rem;
}
.footer-section__left-top-container {
  display: flex;
  align-items: flex-start;
  gap: 8rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 1000px) {
  .footer-section__left-top-container {
    flex-direction: column;
    gap: 2rem;
  }
}
.footer-section__logo-wrapper {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: center;
}
.footer-section__logo-wrapper--phone {
  display: none;
}
@media screen and (max-width: 1000px) {
  .footer-section__logo-wrapper--phone {
    display: flex;
    max-width: 8rem;
    max-height: 8rem;
    margin: 0 auto;
  }
}
.footer-section__logo-wrapper--desktop {
  display: flex;
}
@media screen and (max-width: 1000px) {
  .footer-section__logo-wrapper--desktop {
    display: none;
  }
}
.footer-section__logo {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer-section__left-top-middle-container {
  gap: 4rem;
}
.footer-section__title {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
}
.footer-section__text {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.footer-section__link {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: var(--global-font-color);
  text-decoration: none;
  cursor: pointer;
}
.footer-section__link:hover {
  text-decoration: underline;
}
.footer-section__shop {
  gap: 0.8rem;
}
.footer-section__country {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
@media screen and (max-width: 1000px) {
  .footer-section__country {
    display: none;
  }
}
.footer-section__support {
  gap: 0.8rem;
}
.footer-section__about-us {
  gap: 0.8rem;
}
.footer-section__contact-us {
  gap: 0.8rem;
}
.footer-section__manufacturer {
  gap: 0.8rem;
}
.footer-section__social-links {
  gap: 0.8rem;
}
.footer-section__subscribe-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.footer-section__left-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}
.footer-section__left-bottom-container--desktop {
  display: flex;
}
@media screen and (max-width: 1000px) {
  .footer-section__left-bottom-container--desktop {
    display: none;
  }
}
.footer-section__extra-content-adjustment {
  display: none;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (max-width: 1000px) {
  .footer-section__extra-content-adjustment {
    display: flex;
  }
}
.footer-section__mail-input {
  height: 2rem;
  width: 18rem;
  padding: 0.4rem 1rem;
  border: 2px solid var(--color-orange);
  border-radius: 20px;
  color: var(--global-font-color);
  font-size: 1rem;
  background: transparent;
  outline: none;
}
.footer-section__social-icons-container {
  gap: 0.8rem;
}
.footer-section__social-icon-wrapper {
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.2rem;
  border-radius: 50%;
  background: var(--color-white);
  overflow: hidden;
}
.footer-section__social-icon-wrapper:hover {
  scale: 1.2;
  transition: scale 0.5s;
}
.footer-section__social-icon {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer-section__copyright-text {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */